<div class="container">
  <form class="form-design">
    <div class="form-group" style="width: 200px;">
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="email" placeholder="Enter email">
      
    </div>
    <div class="form-group" style="width: 200px;">
      <input type="password" name="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="password" placeholder="Password">
    </div>
  
    <button type="submit" style="width: 200px;" class="btn btn-primary" (click)="signInWithEmail()">Submit</button>
  </form>
</div>
