<div class="geeboff" style="text-align:center;">
    <img class="geeboff-img" width="" alt="Angular Logo" src="assets\GravityBong.png">
  <br />
  </div>

<div class="container">
  <form class="form-design">
    <div class="form-group" style="">
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="email" placeholder="Enter email">
      
    </div>
    <div class="form-group" style="">
      <input type="password" name="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="password" placeholder="Password">
    </div>
  
    <button type="submit" style="border-radius: 15px;
    text-align: center;
    font-size: 16px;
    line-height: 1.42857;
    border-color: #24AC3B;
    background-color: #24AC3B;" class="btn btn-primary butt-big" (click)="signInWithEmail()">Log In</button>
    <br />
    <button type="register" style="border-radius: 15px;
    text-align: center;
    font-size: 16px;
    line-height: 1.42857;
    border-color: #24AC3B;
    margin-top: 5px;
    background-color: #24AC3B;
    " class="btn btn-primary butt-big" (click)="register()">Register</button>
  </form>
  
</div>
