.geeboff {
    font-family: 'Pacifico';
    font-weight: 400;
    font-size: 58px;
    color: #ffffff;
    line-height: 1.00em;
}
.geeboff {
    padding-top: 150px;
}
.geeboff-img {
    width: 375px;
    margin-left: 70px;
}
  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 992px) {
    .geeboff {
        padding-top: 75px;
    }
    .geeboff-img {
        width: 275px;
        margin-left: 0px;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  
  @media screen and (max-width: 600px) {
    .geeboff {
        padding-top: 75px;
    }
    .geeboff-img {
        width: 275px;
        margin-left: -20px;
    }

    @media screen and (max-width: 700px) {
        .geeboff {
            padding-top: 75px;
        }
        .geeboff-img {
            width: 275px;
            margin-left: 0px;
        }
    }
}
