/* You can add global styles to this file, and also import other style files */
@import 'theme.scss';

body {
    background-repeat: no-repeat;
    background-size: cover;
    background: rgb(64,108,130);
    font-family: 'Lemon', cursive;
}

html, body {
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 100%;
}